#controlsStrength{
    height:20px;
    margin:0 0 5px;
    background: var(--sat-theme-surface-2);
    font-size:14px;
    line-height: 16px;
    text-align: center;
}

.alert{
    margin:0;
    padding:8px 0;
    font-size:14px;
    line-height:19px;
}

.alert-info{
    margin-bottom:32px;
    font-style: italic;
    color: var(--sat-theme-text-subtle);
}

.alert-error{
    padding-bottom:0;
    color: var(--sat-theme-text-status-error);
}

.confirm-password{
    margin-bottom:0;
}

#passwordStrengthColor{
    height:20px;
    display:block;
    float: left;
    right:0;
    color: var(--sat-colors-white);
}

.strength0{
    width:0;
    background: var(--sat-theme-border);
}

.strength1{
    width:20%;
    background: var(--sat-theme-background-severity-critical);
}

.strength2{
    width:40%;
    background: var(--sat-theme-background-severity-critical);
}

.strength3{
    width:60%;
    background: var(--sat-theme-background-severity-high);
}

.strength4{
    background: var(--sat-theme-background-status-warning);
    width:80%;
}

.strength5{
    background: var(--sat-theme-background-status-success);
    width:100%;
}

#passwordStrengthGray{
    height:20px;
    display:block;
    float: left;
    right:0;
}

/* These .gray* classes do nothing, but leaving them for posterity */
.gray0{
    width:100%;
}

.gray1{
    width:80%;
}

.gray2{
    width:40%;
}

.gray3{
    width:20%;
}

.gray4{
    width:0;
}
.gray5{
    width:0;
}

#passwordMinStrength {
    display: block;
}

.minStrength0 {
    padding-left: 0;
}

.minStrength1 {
    padding-left: 20%;
}

.minStrength2 {
    padding-left: 40%;
}

.minStrength3 {
    padding-left: 60%;
}

.minStrength4 {
    padding-left: 80%;
}

.minStrength5 {
    padding-left: 100%;
}

.arrow-up {
    display: inherit;
    width: 16px;
    height: 8px;
    border-bottom: solid 8px var(--sat-theme-text-1);
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    position: relative;
    left: -8px;
}
